doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title #{name}
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href="assets/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet", type="text/css", media="screen")
		link(href="assets/vendor/fontawesome/css/font-awesome.css", rel="stylesheet", type="text/css", media="screen")
		link(href="assets/vendor/flaticon/flaticon.css", rel="stylesheet", type="text/css", media="screen")

		link(href="assets/vendor/rs-plugin/css/settings.css", rel="stylesheet", type="text/css", media="screen")
		link(href="assets/vendor/rs-plugin/css/layers.css", rel="stylesheet", type="text/css", media="screen")
		link(href="assets/vendor/rs-plugin/css/navigation.css", rel="stylesheet", type="text/css", media="screen")

		link(href="assets/vendor/mfp/css/magnific-popup.css", rel="stylesheet", type="text/css", media="screen")
		link(href="assets/vendor/progresstracker/css/jquery.progresstracker.css", rel="stylesheet")
		link(href="assets/vendor/offcanvas-menu/css/normalize.css", rel="stylesheet", type="text/css")
		link(href="assets/custom/css/style.css", rel="stylesheet", type="text/css", media="screen")

		//- Fonts
		link(href='http://fonts.googleapis.com/css?family=Oxygen:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800', rel='stylesheet', type='text/css')

		//- JS
		script(src="assets/vendor/jquery/js/jquery-2.2.0.min.js")
		script(src="assets/vendor/bootstrap/js/bootstrap.min.js")
		script(src="assets/vendor/sticky/js/jquery.sticky.js")
		//- script(src="assets/vendor/mousewheel/js/jquery.mousewheel-3.0.6.pack.js")
		script(src="assets/vendor/superfish/js/hoverIntent.js")
		script(src="assets/vendor/horiz-timeline/js/hortimeline.js")
		script(src="assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js?rev=5.0")
		script(src="assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=5.0")
		script(src="assets/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js")
		script(src="assets/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js")
		script(src="assets/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js")
		script(src="assets/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js")

		script(src="assets/vendor/modernizr/js/modernizr.js", )
		script(src="assets/vendor/parallax/js/jquery.stellar.min.js", )
		script(src="assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js", )
		script(src="assets/vendor/isotope/js/isotope.pkgd.min.js", )
		script(src="assets/vendor/mfp/js/jquery.magnific-popup.min.js", )
		script(src="assets/vendor/anicounter/jquery.counterup.min.js", )
		script(src="assets/vendor/circle-progress/circle-progress.js", )
		script(src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")
		script(src="https://maps.google.com/maps/api/js?sensor=false", )
		script(src="assets/vendor/offcanvas-menu/js/classie.js")
		script(src="assets/vendor/photocard/main.js")
		script(src="assets/vendor/progresstracker/js/jquery.progresstracker.js")
		script(src="assets/vendor/flickr/js/jflickrfeed.min.js", )
		script(src="assets/custom/js/script.js", )

	//- HTML BODY
	body
		#app
		// Pre-Loader
		#preloader
		// Home scroll link
		#home
			#ptsection-one.pt-section(data-name='Home')
		// Off-canvas menu
		.menu-wrap.menu-wrap-light
			.dividewhite4
			nav.menu
				ul.icon-list
					li
						.m-usermenu
							div
								.article-author-userpic
									img.img-circle.img-responsive(src='assets/custom/images/userpic05.jpg', alt='Maria Quinn')
									// <div class="dividewhite2"></div>
								.article-author-name
									h4.font-accident-one-bold
										a(href='#!') Hello
									p.nopadding
										span.extrasmall.white Landscape Designer
						.dividewhite2
					li.menu-item
						a(href='#home')
							i.fa.fa-fw.fa-star-o
							span Home
					li.menu-item
						a(href='#details')
							i.fa.fa-fw.fa-bell-o
							span Details
					li.menu-item
						a(href='#counts-light-bg')
							i.fa.fa-fw.fa-bell-o
							span Counts
					li.menu-item
						a(href='#portfolio')
							i.fa.fa-fw.fa-comment-o
							span Portfolio
					li.menu-item
						a(href='#progress-01')
							i.fa.fa-fw.fa-bar-chart-o
							span Skills
					li.menu-item
						a(href='#timeline-vertical')
							i.fa.fa-fw.fa-shopping-cart
							span Timeline
					li.menu-item
						a(href='#photocard')
							i.fa.fa-fw.fa-recycle
							span Featured
					li.menu-item
						a(href='#testmonials-light')
							i.fa.fa-fw.fa-bell-o
							span Testmonials
					li.menu-item
						a(href='#feedback')
							i.fa.fa-fw.fa-bell-o
							span Feedback
					li.menu-item
						a(href='https://wrapbootstrap.com/theme/fletcher-personal-landing-page-html-WB029022K?ref=neuethemes', target='_blank')
							i.fa.fa-fw.fa-bell-o
							span Buy the Template
					li.socials
						ul
							li
								a(href='#!')
									i.flaticon-facebook44
							li
								a(href='#!')
									i.flaticon-google110
							li
								a(href='#!')
									i.flaticon-pinterest27
							li
								a(href='#!')
									i.flaticon-instagram13
							li
								a(href='#!')
									i.flaticon-linkedin21
							li
								a(href='#!')
									i.flaticon-twitter37
			#close-button.close-button.nav-icon2
				div
		// / Off-canvas menu
		.content-wrap
			// main-top
			// Top Navigation
			header#header-wrapper-mp.head-overlay.sticky-menu-light
				.sticky-header.header-dark.sticky-overlay.nobg(role='navigation')
					.container.mp-nav
						// Logo
						#site-title
							a(href='index.html')
								h1.font-accident-one-normal
									i.flaticon-avatar36
									| #{name}
						// Main menu
						nav#main-menu.nav.site-navigation.primary-navigation
							ul#example.sf-menu.clearfix
								li.m-desktop.menu-item.active
									a(href='#home') Home
								li.m-desktop.menu-item
									a(href='#details') Details
								li.m-desktop.menu-item
									a(href='#portfolio') Portfolio
								li.m-desktop.menu-item
									a(href='#timeline-vertical') Timeline
								li.m-desktop.menu-item
									a(href='https://wrapbootstrap.com/theme/fletcher-personal-landing-page-html-WB029022K?ref=neuethemes', target='_blank') Buy
								li
									#open-button.menu-button.nav-icon
										div
			// /Top Navigation
			// Revolution Slider
			.slider-revolution
				.rev_slider_wrapper
					#slider1.rev_slider.head-overlay(data-version='5.0')
						ul
							// SLIDE
							li(data-transition='fade', data-slotamount='default', data-masterspeed='default', data-thumb='assets/custom/images/rs-images/fullslide1-320x200.jpg', data-title='Slide')
								// MAIN IMAGE
								img(src='assets/custom/images/rs-images/04.jpg', alt='fullslide1', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								// LAYERS
								// LAYER NR. 1
								.tp-caption.cap-title.font-accident-two-normal.tp-resizeme.rs-parallaxlevel-1(data-x='left', data-y='bottom', data-basealign='grid', data-voffset='45', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1800', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', data-fontsize="['90','70','60','40']", data-lineheight="['120','100','90','80']", style='z-index: 2;')
									| Fletcher, the HTML5
								// LAYER NR. 2
								.tp-caption.cap-subtitle.font-accident-two-bold.tp-resizeme.rs-parallaxlevel-1(data-x='left', data-y='bottom', data-basealign='grid', data-voffset='19', data-hoffset='5', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1900', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| Personal One-Page Website Template
								// LAYER NR. 3
								.tp-caption.cap-sub-subtitle.tp-resizeme.rs-parallaxlevel-1(data-x='left', data-y='bottom', data-basealign='grid', data-voffset='0', data-hoffset='6', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1950', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| For Professionals
							// SLIDE
							li(data-transition='fade', data-slotamount='default', data-masterspeed='default', data-thumb='assets/custom/images/rs-images/fullslide2-320x200.jpg', data-title='Slide')
								// MAIN IMAGE
								img(src='assets/custom/images/rs-images/05.jpg', alt='fullslide2', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								// LAYERS
								// LAYER NR. 1
								.tp-caption.cap-title.font-accident-two-normal.tp-resizeme.rs-parallaxlevel-1(data-x='center', data-y='bottom', data-basealign='grid', data-voffset='45', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1800', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', data-fontsize="['90','70','60','40']", data-lineheight="['120','100','90','80']", style='z-index: 2;')
									| My name is Jessica Fletcher
								// LAYER NR. 2
								.tp-caption.cap-subtitle.font-accident-two-bold.tp-resizeme.rs-parallaxlevel-1(data-x='center', data-y='bottom', data-basealign='grid', data-voffset='19', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1900', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| I am the experienced
								// LAYER NR. 3
								.tp-caption.cap-sub-subtitle.tp-resizeme.rs-parallaxlevel-1(data-x='center', data-y='bottom', data-basealign='grid', data-voffset='0', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1950', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| Landscape designer and Florist
							// SLIDE
							li(data-transition='fade', data-slotamount='default', data-masterspeed='default', data-thumb='assets/custom/images/rs-images/fullslide2-320x200.jpg', data-title='Slide')
								// MAIN IMAGE
								img(src='assets/custom/images/rs-images/06.jpg', alt='fullslide3', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
								// LAYERS
								// LAYER NR. 1
								.tp-caption.cap-title.font-accident-two-normal.tp-resizeme.rs-parallaxlevel-1(data-x='right', data-y='bottom', data-basealign='grid', data-voffset='45', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1800', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', data-fontsize="['90','70','60','40']", data-lineheight="['120','100','90','80']", style='z-index: 2;')
									| Fletcher, the HTML5
								// LAYER NR. 2
								.tp-caption.cap-subtitle.font-accident-two-bold.tp-resizeme.rs-parallaxlevel-1(data-x='right', data-y='bottom', data-basealign='grid', data-voffset='19', data-hoffset='5', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1900', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| Personal One-Page Website Template
								// LAYER NR. 3
								.tp-caption.cap-sub-subtitle.tp-resizeme.rs-parallaxlevel-1(data-x='right', data-y='bottom', data-basealign='grid', data-voffset='0', data-hoffset='4', data-width='”auto”', data-height='”auto”', data-whitespace='”[‘nowrap’,’normal’,’normal’,’normal’]”', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:700;', data-start='1950', data-splitin='”none”', data-splitout='”none”', data-responsive_offset='”on”', style='z-index: 2;')
									| For Professionals
						.tp-bannertimer
			// /Revolution Slider
			#content
				// Details Block
				section#details.m-details.e-block.e-block-skin(data-stellar-background-ratio='0.5')
					#ptsection-two.container.pt-section(data-name='Details')
						.container.text-center
							h3.font-accident-one-bold.uppercase.fontcolor-regular who am i
							h5.font-accident-one-bold.title-light.uppercase.hovercolor Working hard and making the success
							.dividewhite4
							p.small.fontcolor-regular
								| Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
								| blocks as simple as Lego.
								br
								|                   Electronic Website Template is fully responsive, looks and works perfect on any device.
						.dividewhite8
						.row
							.col-md-3.infoblock
								.row
									.col-lg-3.col-md-4.col-sm-2
										i.flaticon-photo246
									.col-lg-9.col-md-8.col-sm-10
										h5.font-accident-one-bold.uppercase Creative
										.dividewhite1
										p.small
											| For extreme size changes, we may want to change the layout altogether, either through a
											| separate style sheet or, more efficiently, through a CSS media query.
							.col-md-3.infoblock
								.row
									.col-lg-3.col-md-4.col-sm-2
										i.flaticon-cups17
									.col-lg-9.col-md-8.col-sm-10
										h5.font-accident-one-bold.uppercase Self-motivated
										.dividewhite1
										p.small
											| It is possible to shrink things proportionally and rearrange elements as necessary to make
											| everything fit (reasonably well) as a screen gets smaller.
							.col-md-3.infoblock
								.row
									.col-lg-3.col-md-4.col-sm-2
										i.flaticon-profile5
									.col-lg-9.col-md-8.col-sm-10
										h5.font-accident-one-bold.uppercase Punctual
										.dividewhite1
										p.small
											| Below we have a few examples of responsive Web design in practice today. For many of these
											| websites, there is more variation.
							.col-md-3.infoblock
								.row
									.col-lg-3.col-md-4.col-sm-2
										i.flaticon-stars64
									.col-lg-9.col-md-8.col-sm-10
										h5.font-accident-one-bold.uppercase Multitask
										.dividewhite1
										p.small
											| One major problem that needs to be solved with responsive Web design is working with images.
											| There are a number of techniques.
				// /Details Block
				// Counts Block
				section#counts-light-bg.counts.e-block-ins.e-block-dark.e-bg-dark-texture(data-stellar-background-ratio='0.5')
					#ptsection-three.container.pt-section(data-name='Counts')
						.count-container.row
							.col-lg-3.col-sm-6.col-xs-12.count
								div
									.count-icon
										i.flaticon-photo246
									span.digit.font-accident-two-bold(class='.integers') 120
									.count-text.font-accident-one-bold Awesome Gardens
							.col-lg-3.col-sm-6.col-xs-12.count
								div
									.count-icon
										i.flaticon-badges2
									span.digit.font-accident-two-bold(class='.integers') 650
									.count-text.font-accident-one-bold Species of plants
							.col-lg-3.col-sm-6.col-xs-12.count
								div
									.count-icon
										i.flaticon-lights7
									span.digit.font-accident-two-bold(class='.integers') 9356
									.count-text.font-accident-one-bold Square meters
							.col-lg-3.col-sm-6.col-xs-12.count
								div
									.count-icon
										i.flaticon-cups17
									span.digit.font-accident-two-bold(class='.integers') 100
									.count-text.font-accident-one-bold Happy Clients
						.dividewhite2
				// /Counts Block
				// Portfolio Block
				section#portfolio.portfolio-hp.e-block.e-block-skin(data-stellar-background-ratio='0.5')
					#ptsection-four.pt-section(data-name='Portfolio')
						.container.text-center
							h3.font-accident-one-bold.uppercase Portfolio
							h5.font-accident-one-bold.title-light.uppercase.hovercolor Working hard and making the success
							.dividewhite4
							p.small
								| Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
								| blocks as simple as Lego.
								br
								|                   Electronic Website Template is fully responsive, looks and works perfect on any device.
						.dividewhite8
						#isotope-filters.port-filter.port-filter-light.container.text-center
							ul
								li
									a(href='#cat1', data-filter='*') All
								li
									a(href='#cat2', data-filter='.villas') Villas
								li
									a(href='#cat3', data-filter='.castles') Castles
								li
									a(href='#cat4', data-filter='.aqua') Aqua
						.dividewhite4
						.grid.container.text-center
							#posts.row.popup-container
								.grid-item.villas.col-sm-12
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/00-01.jpg')
													i.flaticon-plus14
											img(src='assets/custom/images/magazine/00-01.jpg', class="img-responsive'", alt='img11')
											figcaption
												.fig-description
													h3
														| Music
														span Sounds
													p #web #seo
								.grid-item.villas.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/01-01.jpg')
													i.flaticon-plus14
											img(src='assets/custom/images/magazine/01-01.jpg', class="img-responsive'", alt='img11')
											figcaption
												.fig-description
													h3
														| Music
														span Sounds
													p #web #seo
								.grid-item.grid-sizer.villas.aqua.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/02-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/02-01.jpg', alt='img03')
											figcaption
												.fig-description
													h3
														| Fire
														span Burns
													p #web #seo
								.grid-item.castles.aqua.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/03-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/03-01.jpg', alt='img11')
											figcaption
												.fig-description
													h3
														| Ice
														span Cold
													p #marketing
								.grid-item.castles.aqua.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/04-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/04-01.jpg', alt='img03')
											figcaption
												.fig-description
													h3
														| Everybody
														span Lies
													p #marketing
								.grid-item.villas.castles.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/05-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/05-01.jpg', alt='img11')
											figcaption
												.fig-description
													h3
														| Music
														span Sounds
													p #web #seo
								.grid-item.uncategorized.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/06-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/06-01.jpg', alt='img03')
											figcaption
												.fig-description
													h3
														| Fire
														span Burns
													p #web #seo
								.grid-item.villas.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/07-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/07-01.jpg', alt='img03')
											figcaption
												.fig-description
													h3
														| Fire
														span Burns
													p #web #seo
								.grid-item.castles.aqua.col-lg-3.col-md-4.col-sm-6
									.item-wrap
										figure.effect-goliath
											.popup-call
												a.gallery-item(href='assets/custom/images/magazine/08-01.jpg')
													i.flaticon-plus14
											img.img-responsive(src='assets/custom/images/magazine/08-01.jpg', alt='img03')
											figcaption
												.fig-description
													h3
														| Fire
														span Burns
													p #web #seo
				// /Portfolio Block
				// Circle Progress Block
				section#progress-01.e-block-ins.e-block-light.e-bg-light-texture(data-stellar-background-ratio='0.5')
					#ptsection-five.container.pt-section(data-name='Success')
						.row
							.col-md-3.text-center
								.progressbar(data-animate='false')
									.circle.font-accident-one-normal.fontcolor-regular(data-percent='12.5')
										div
										h4.font-accident-one-normal.uppercase Design
										p.small
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros...
								.divider-dynamic
							.col-md-3.text-center
								.progressbar(data-animate='false')
									.circle.font-accident-one-normal.fontcolor-regular(data-percent='24.5')
										div
										h4.font-accident-one-normal.uppercase Flowers
										p.small
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros...
								.divider-dynamic
							.col-md-3.text-center
								.progressbar(data-animate='false')
									.circle.font-accident-one-normal.fontcolor-regular(data-percent='39.5')
										div
										h4.font-accident-one-normal.uppercase Landscape
										p.small
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros...
								.divider-dynamic
							.col-md-3.text-center
								.progressbar(data-animate='false')
									.circle.font-accident-one-normal.fontcolor-regular(data-percent='72.5')
										div
										h4.font-accident-one-normal.uppercase Aqua
										p.small
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros...
								.divider-dynamic
				// /Circle Progress Block
				// Timeline Block
				section#timeline-vertical.e-block.e-block-skin(data-stellar-background-ratio='0.5')
					#ptsection-six.container.pt-section(data-name='Timeline')
						.text-center
							h3.font-accident-one-bold.uppercase My Professional Timeline
							h5.font-accident-one-bold.title-light.uppercase.hovercolor Working hard and making the success
							.dividewhite4
							p.small
								| Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
								| blocks as simple as Lego.
								br
								|                Electronic Website Template is fully responsive, looks and works perfect on any device.
						.dividewhite8
						ul.timeline-vert.timeline-light
							li
								.timeline-badge.primary
									i.flaticon-badges2
								.timeline-panel
									p.timeline-time.fontcolor-invert
										i.glyphicon.glyphicon-time
										|  Aug 2010 - Nov 2012
									.timeline-photo.timeline-bg01-01
									.timeline-heading
										h3.font-accident-two-bold.uppercase
											| Harvard University-
											br
											| Graduate School Of Design
										h6.uppercase.hovercolor Junior Designer
									.dividewhite1
									.timeline-body
										p.small
											| Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
							li.timeline-inverted
								.timeline-badge.success
									i.flaticon-cups17
								.timeline-panel
									p.timeline-time.fontcolor-invert
										i.glyphicon.glyphicon-time
										|  March 2013 - Jan 2014
									.timeline-photo.timeline-bg02-01
									.timeline-heading
										h3.font-accident-two-bold.uppercase Leo Burnett – Moscow
										h6.uppercase.hovercolor Senior Designer
									.dividewhite1
									.timeline-body
										p.small
											| Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
							li
								.timeline-badge.danger
									i.flaticon-lights7
								.timeline-panel
									p.timeline-time.fontcolor-invert
										i.glyphicon.glyphicon-time
										|  Jul 2014 - Sep 2015
									.timeline-photo.timeline-bg03-01
									.timeline-heading
										h3.font-accident-two-bold.uppercase Google - Dublin Office
										h6.uppercase.hovercolor Head of UI/UX Department
									.dividewhite1
									.timeline-body
										p.small
											| Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
							li.timeline-inverted.info
								.timeline-badge.warning
									i.flaticon-stars64
								.timeline-panel
									p.timeline-time.fontcolor-invert
										i.glyphicon.glyphicon-time
										|  Sep 2015 - ...
									.timeline-photo.timeline-bg04-01
									.timeline-heading
										h3.font-accident-two-bold.uppercase Apple head Office
										h6.uppercase.hovercolor Head of UI/UX Department
									.dividewhite1
									.timeline-body
										p.small
											| Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
						.text-center
							a.btn.btn-lgr-str(href='#!') Learn More
				// /Timeline Block
				// Horizontal Timeline
				section#horiz-timeline.e-block.e-block-light.horiz-timeline-light(data-stellar-background-ratio='0.5')
					.container.cd-horizontal-timeline
						.text-center
							h3.font-accident-one-bold.uppercase.white My Landscape Design Lecture Schedule
							h5.font-accident-one-bold.title-light.uppercase.hovercolor Working hard and making the success
							.dividewhite4
							// <p class="small fontcolor-medium-light">
							// Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
							// blocks as simple as Lego. <br>
							// Electronic Website Template is fully responsive, looks and works perfect on any device.
							// </p>
						.dividewhite8
						.timeline
							.events-wrapper
								.events
									ol
										li
											a.selected(href='#0', data-date='16/01/2014') 16 Jan
										li
											a(href='#0', data-date='28/02/2014') 28 Feb
										li
											a(href='#0', data-date='20/04/2014') 20 Mar
										li
											a(href='#0', data-date='20/05/2014') 20 May
										li
											a(href='#0', data-date='09/07/2014') 09 Jul
										li
											a(href='#0', data-date='30/08/2014') 30 Aug
										li
											a(href='#0', data-date='15/09/2014') 15 Sep
										li
											a(href='#0', data-date='01/11/2014') 01 Nov
										li
											a(href='#0', data-date='10/12/2014') 10 Dec
										li
											a(href='#0', data-date='19/01/2015') 29 Jan
										li
											a(href='#0', data-date='03/03/2015') 3 Mar
									span.filling-line(aria-hidden='true')
								// .events
							// .events-wrapper
							ul.cd-timeline-navigation
								li
									a.prev.inactive(href='#0') Prev
								li
									a.next(href='#0') Next
							// .cd-timeline-navigation
						// .timeline
						.events-content
							ol
								li.selected(data-date='16/01/2014')
									h2.font-accident-one-bold New York
									em January 16th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='28/02/2014')
									h2.font-accident-one-bold Berlin
									em February 28th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='20/04/2014')
									h2.font-accident-one-bold Frankfurt am Mein
									em March 20th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='20/05/2014')
									h2.font-accident-one-bold London
									em May 20th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='09/07/2014')
									h2.font-accident-one-bold Moscow
									em July 9th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='30/08/2014')
									h2.font-accident-one-bold Kiev
									em August 30th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='15/09/2014')
									h2.font-accident-one-bold Athens
									em September 15th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='01/11/2014')
									h2.font-accident-one-bold Istambul
									em November 1st, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='10/12/2014')
									h2.font-accident-one-bold Antverpen
									em December 10th, 2014
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='19/01/2015')
									h2.font-accident-one-bold Oslo
									em January 19th, 2015
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
								li(data-date='03/03/2015')
									h2.font-accident-one-bold Bejing
									em March 3rd, 2015
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						// .events-content
				// /Horizontal Timeline
				// Blog
				section#blog.e-block.e-block-skin(data-stellar-background-ratio='0.5')
					#ptsection-twelve.container.pt-section(data-name='Blog')
						.text-center
							h3.font-accident-one-bold.uppercase Blog Articles and Comments
							h5.font-accident-one-bold.title-light.uppercase.hovercolor Working hard and making the success
							.dividewhite4
							p.small
								| Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
								| blocks as simple as Lego.
								br
								|                   Electronic Website Template is fully responsive, looks and works perfect on any device.
						.dividewhite10
						.row
							.col-md-3.infoblock
								h4.font-accident-one-bold.uppercase
									a(href='#!') Landing page
								.post-attrib
									.comment-baloon-01.font-accident-one-bold 15
									.post-data
										.post-date.hovercolor 2014 Jun, 14
										.post-author by Alisia Silverstone
								p.small
									| Ideal for Personal Blog, Corporate website and Creative portfolio. Modern Design helps you to
									| achieve the goal of your business. Create the website of your dream!
							.col-md-3.infoblock
								h4.font-accident-one-bold.uppercase
									a(href='#!') Fully Responsive
								.post-attrib
									.comment-baloon-01.font-accident-one-bold 23
									.post-data
										.post-date.hovercolor 2014 Jun, 14
										.post-author by Alisia Silverstone
								p.small
									| The Electronic Creative Template comes with 10 pre-defined color themes. You can simply attach
									| desirable color scheme by renaming the CSS file call on the top of page code.
							.col-md-3.infoblock
								h4.font-accident-one-bold.uppercase
									a(href='#!') Creative template
								.post-attrib
									.comment-baloon-01.font-accident-one-bold 15
									.post-data
										.post-date.hovercolor 2014 Jun, 14
										.post-author by Alisia Silverstone
								p.small
									| Ideal for Personal Blog, Corporate website and Creative portfolio. Modern Design helps you to
									| achieve the goal of your business. Create the website of your dream!
							.col-md-3.infoblock
								h4.font-accident-one-bold.uppercase
									a(href='#!') SEO Friendly
								.post-attrib
									.comment-baloon-01.font-accident-one-bold 23
									.post-data
										.post-date.hovercolor 2014 Jun, 14
										.post-author by Alisia Silverstone
								p.small
									| The Electronic Creative Template comes with 10 pre-defined color themes. You can simply attach
									| desirable color scheme by renaming the CSS file call on the top of page code.
						.dividewhite10
						.row
							.col-md-3.infoblock
								.row
									.col-xs-4.text-center
										a(href='#!')
											img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic02.jpg', alt='Rachel James Johnes')
										.post-date2.hovercolor 2014 Jun, 14
									.col-xs-8
										h5.post-title.font-accident-one-bold.uppercase
											a(href='#!') Bootstrap Responsive Grid System
										p.small
											| (December 22, 1886 – July 23, 1947), was a Welsh philosopher and academic. He should not be
											| confused with David James Jones (Gwenallt), a contemporary writer.
							.col-md-3.infoblock
								.row
									.col-xs-4.text-center
										a(href='#!')
											img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic03.jpg', alt='Rachel James Johnes')
										.post-date2.hovercolor 2014 Jun, 14
									.col-xs-8
										h5.post-title.font-accident-one-bold.uppercase
											a(href='#!') Isotope filtered Masonry Portfolio
										p.small
											| The system utilised prefabricated light gauge steel frames which could be built economically
											| up to a maximum of 4 storeys.
							.col-md-3.infoblock
								.row
									.col-xs-4.text-center
										a(href='#!')
											img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic04.jpg', alt='Rachel James Johnes')
										.post-date2.hovercolor 2014 Jun, 14
									.col-xs-8
										h5.post-title.font-accident-one-bold.uppercase
											a(href='#!') Vertical Scroll Progress Tracker
										p.small
											| (December 22, 1886 – July 23, 1947), was a Welsh philosopher and academic. He should not be
											| confused with David James Jones (Gwenallt), a contemporary writer.
							.col-md-3.infoblock
								.row
									.col-xs-4.text-center
										a(href='#!')
											img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic03.jpg', alt='Rachel James Johnes')
										.post-date2.hovercolor 2014 Jun, 14
									.col-xs-8
										h5.post-title.font-accident-one-bold.uppercase
											a(href='#!') Responsive Timeline and Skills Indicator
										p.small
											| The system utilised prefabricated light gauge steel frames which could be built economically
											| up to a maximum of 4 storeys.
				// /Blog
				// Photocard Block
				section#photocard.cd-single-item.e-block-null.e-block-light.e-bg-light-texture(data-stellar-background-ratio='0.5')
					.cd-slider-wrapper
						ul.cd-slider
							li.selected
								img(src='assets/custom/images/img-1-01.jpg', alt='Product Image 1')
							li
								img(src='assets/custom/images/img-2-01.jpg', alt='Product Image 1')
							li
								img(src='assets/custom/images/img-3-01.jpg', alt='Product Image 2')
						// cd-slider
						ul.cd-slider-navigation
							li
								a.cd-prev.inactive(href='#!') Next
							li
								a.cd-next(href='#!') Prev
						// cd-slider-navigation
						a.cd-close(href='#!') Close
					// cd-slider-wrapper
					.cd-item-info
						h3.font-accident-one-bold.uppercase Featured Photos
						p.small
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros, tempor dictum purus quis, suscipit sagittis enim. Aliquam sollicitudin lorem est, fringilla fermentum risus pulvinar quis.
						.dividewhite2
						button.btn.btn-lgr-str(type='submit') Learn more
					// cd-item-info
				// cd-single-item
				// /Photocard Block
				// Testmonials Block
				section#testmonials-light.e-block-ins.e-block-skin(data-stellar-background-ratio='0.5')
					#ptsection-seven.container.pt-section(data-name='Testmonials')
						.text-center
							h3.font-accident-one-bold.uppercase Testmonials
							h5.font-accident-one-bold.title-light.uppercase.hovercolor What my happy clients say
							.dividewhite8
						.row
							.col-md-4
								.row
									.col-xs-3
										img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic04.jpg', alt='Rachel James Johnes')
									.col-xs-9
										h5.font-accident-one-bold.text-left.uppercase Hans Zimmer
										p.small.hovercolor Apple Inc.
										p.text-left.small
											| With more devices come varying screen resolutions, definitions and orientations. New devices
											| with new screen sizes are being developed every day, and each of these devices may be able...
								.divider-dynamic
							.col-md-4
								.row
									.col-xs-3
										img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic02.jpg', alt='Rachel James Johnes')
									.col-xs-9
										h5.font-accident-one-bold.text-left.uppercase Mario Quinn
										p.small.hovercolor Adobe
										p.text-left.small
											| With more devices come varying screen resolutions, definitions and orientations. New devices
											| with new screen sizes are being developed every day, and each of these devices
								.divider-dynamic
							.col-md-4
								.row
									.col-xs-3
										img.img-responsive.img-circle.author-userpic(src='assets/custom/images/userpic03.jpg', alt='Rachel James Johnes')
									.col-xs-9
										h5.font-accident-one-bold.text-left.uppercase Karl Romm
										p.small.hovercolor BMW
										p.text-left.small
											| With more devices come varying screen resolutions, definitions and orientations. New devices
											| with new screen sizes are being developed every day, and each of these devices
								.divider-dynamic
				// /Testmonials Block
				// Clients
				// <section id="clients" class="e-block-null e-block-darkest" data-stellar-background-ratio="0.5">
				// <div class="container">
				// <div class="row partners">
				// <div class="col-xs-1"><img src="assets/custom/images/partners_01.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_02.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_03.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_04.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_05.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_06.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_07.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_08.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_09.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_10.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_11.png" class="img-responsive" alt="x"></div>
				// <div class="col-xs-1"><img src="assets/custom/images/partners_12.png" class="img-responsive" alt="x"></div>
				// </div>
				// </div>
				// </section>
				// /Clients
				// Feedback Block
				section#feedback.feedback.e-block.e-block-light.feedback-light(data-stellar-background-ratio='0.8')
					#ptsection-eight.container.pt-section.text-center(data-name='Feedback')
						.row
							.col-md-12
								h3.font-accident-one-bold.uppercase.white Want to hire me?
								h5.font-accident-one-bold.title-light.uppercase.hovercolor drop me a line and by my happy client
								.dividewhite8
							.col-md-12.dividewhite4
							.col-md-2
							.col-md-8.e-centered
								.dividewhite2
								#form-messages
								form#ajax-contact.wpcf7-form(method='post', action='assets/custom/php/form.php')
									.field
										// <label for="name">Name:</label>
										input#name(type='text', name='name', placeholder='Name', required='')
									.field
										// <label for="email">Email:</label>
										input#email(type='email', name='email', placeholder='Email', required='')
									.field
										// <label for="message">Message:</label>
										textarea#message(name='message', placeholder='Message', rows='7', cols='30', required='')
									.dividewhite2
									.field
										button.btn.btn-lg.btn-grey-str(type='submit') Send message
							.col-md-2
							.col-md-12.divider-dynamic
				// /Feedback Block
			// Google Map
			.e-bg-skin
				a.gm-toggle-link
					.gm-toggle
						i.fa.fa-map-marker
				#gm-panel
					#google-map.bigmap
			// /Google Map
			// footer
			#footer.e-block-skin
				.container
					.row
						.col-sm-3
							.infoblock
								// About Widget
								h4.font-accident-two-bold.uppercase John Fletcher
								.dividewhite2
								p The Experienced UI/UX Specialist, Web-designer, Photographer, Model
								// / About Widget
						.col-sm-3
							.infoblock
								// Contacts Widget
								h4.font-accident-two-bold.uppercase Contacts
								.dividewhite2
								.contact
									.footer-addr
										.footer-icon
											i.fa.fa-home
										.addr-text 12345, Direct Drive - 110, Daytona Beach, Florida, USA
									.footer-addr
										.footer-icon
											i.fa.fa-phone
										.addr-text 1 234 567 67 45
								// / Contacts Widget
						.col-sm-3
							.infoblock
								// Flickr feed Widget
								h4.font-accident-two-bold.uppercase Media
								.dividewhite2
								ul#basicuse.thumbs
									//
										To make it working Flickr feed: uncomment the Flickr feed section
										in script.js, set up the Flickr ID and delete all the li's with content below
									li
										a(href='http://www.flickr.com/photos/55166285@N00/1274107940/', title='the sunken garden by perfectweb, on Flickr')
											img.img-rounded(src='http://farm2.staticflickr.com/1245/1274107940_ede5aa897d_z.jpg', alt='the sunken garden')
									li
										a(href='http://www.flickr.com/photos/55166285@N00/1274119018/', title='tree rings by perfectweb, on Flickr')
											img.img-rounded(src='http://farm2.staticflickr.com/1015/1274119018_1422d64d17_z.jpg', alt='tree rings')
									li
										a(href='http://www.flickr.com/photos/55166285@N00/1274114292/', title='study of flowers by perfectweb, on Flickr')
											img.img-rounded(src='http://farm2.staticflickr.com/1012/1274114292_f847986865_z.jpg', alt='study of flowers')
									li
										a(href='http://www.flickr.com/photos/25251822@N07/23506251141/', title='study of flowers by perfectweb, on Flickr')
											img.img-rounded(src='http://c1.staticflickr.com/1/731/23506251141_0c177771be_c.jpg', alt='study of flowers')
								// / Flickr feed Widget
						.col-sm-3
							.infoblock
								// Follow us Widget
								h4.font-accident-two-bold.uppercase Follow me
								.dividewhite2
								.follow
									ul
										li
											a(href='#!')
												i.flaticon-facebook44
										li
											a(href='#!')
												i.flaticon-google110
										li
											a(href='#!')
												i.flaticon-pinterest27
										li
											a(href='#!')
												i.flaticon-instagram13
										li
											a(href='#!')
												i.flaticon-linkedin21
										li
											a(href='#!')
												i.flaticon-twitter37
								// / Follow us Widget
			#copyrights-wrapper.e-bg-skin
				.container
					.copyright
						.copy-attrs
							| © 2016
							a(href='http://neuethemes.net', target='_blank') Neuethemes
							| . All rightsreserved
						.copy-link
							a(href='http://neuethemes.net', target='_blank') Legal Notice
						.copy-link
							a(href='http://neuethemes.net', target='_blank') Terms & Conditions
			// /footer
			// Back to Top
			#back-top
				a(href='#top')
			// /Back to Top

		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBroD1_P_WPvdhf3uyBxRzPiRbKvLiLBk')
		script(src='/js/application.js')
